:root {
  --primaryColor: #ffd9ab;
}

body {
background: var(--primaryColor);
font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: var(--headerBackgroundColor);
  padding: 20px 10px;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}

.modal.title {
  text-transform: uppercase;
}

.modal-image {
  width: 300px;
  height: auto;
}

ul {
  list-style: none;
}

