:root {
  --primaryColor: #ffd9ab;
  --primaryFont: white;
  --primaryFontWeight: 400;
  --primaryFontSize: 16px;
  --primaryLineHeight: 1.6;
  --bodyMinWidth: 400px;
  --headerBackgroundColor: #a3588b;
}

body {
background: var(--primaryColor);
color: var(--primaryFont);
font-family: 'Raleway', sans-serif;
font-weight:var(--primaryFontWeight);
font-size:var(--primaryFontSize);
line-height: var(--primaryLineHeight);
min-width: var(--bodyMinWidth);
}

* {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: var(--headerBackgroundColor);
  padding: 20px 10px;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}

.modal.title {
  text-transform: uppercase;
}

.modal-image {
  width: 300px;
  height: auto;
}

ul {
  list-style: none;
}

