:root {
  --primaryColor: #1E2C2E;
  --primaryFont: white;
  --primaryFontWeight: 400;
  --primaryFontSize: 16px;
  --primaryLineHeight: 1.6;
  --bodyMinWidth: 400px;
}

body {
background: var(--primaryColor);
color: var(--primaryFont);
font-family: 'Raleway', sans-serif;
font-weight:var(--primaryFontWeight);
font-size:var(--primaryFontSize);
line-height: var(--primaryLineHeight);
color: var(primaryFont);
min-width: var(--bodyMinWidth);
}

* {
  box-sizing: border-box;
}
